@page
@model GymProjectClient.Pages.ClientsModel
@{
	ViewData["Title"] = "Client";
}



<div class="container-fluid">
	<div class="row">
		<div class="col-sm-6 text-black">

			<div class="px-5 ms-xl-4">
				<i class="fas fa-crow fa-2x me-3 pt-5 mt-xl-4" style="color: #709085;"></i>
			</div>

			<div class="d-flex align-items-center h-custom-2 px-5 ms-xl-4 mt-5 pt-5 pt-xl-0 mt-xl-n5">
				<form id="loginFormClient">

					<h3 class="mb-4">Вход в личный кабинет </h3>

					<div id="loginErrorMessage" class="error-message text-danger mb-3" style="display: none;"></div>
					<div id="loginSuccessMessage" class="success-message text-success mb-3" style="display: none;"></div>

					<div class="mb-3">
						<label for="login" class="form-label">Логин</label>
						<input type="text" class="form-control" id="login" name="Login" required>
						<div id="loginEmailError" class="error-message text-danger"></div>
					</div>

					<div class="mb-3">
						<label for="loginPassword" class="form-label">Пароль</label>
						<input type="password" class="form-control" id="loginPassword" name="Password" required>
						<div id="loginPasswordError" class="error-message text-danger"></div>
					</div>
					<div class="pt-1 mb-4">
						<button type="submit" id="loginCouch" class="btn btn-danger">Войти</button>
					</div>
					<p>У вас нет аккаунта? <a href="#!" data-bs-toggle="modal" data-bs-target="#registrationModal" class="link-info">Зарегистрироваться здесь</a></p>
				</form>
			</div>
		</div>
		<div class="col-sm-6 px-0 d-none d-sm-block">
			<img src="~/images/ClientLogin.webp" id="loginImage"
				 alt="Login image" class="w-100 rounded">
		</div>
		<div class="col-lg-6 d-flex align-items-center gradient-custom-2">
			<div class="px-3 py-4 p-md-5 mx-md-4">
				<h4 class="mb-4">Мы больше, чем просто компания</h4>
				<p class="small mb-0">Присоединяйтесь к нашему сообществу тренеров и клиентов, чтобы улучшить ваш спортивный опыт и достичь новых вершин.</p>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="registrationModal" tabindex="-1" aria-labelledby="registrationModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="registrationModalLabel">Регистрация пользователя</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<form id="registrationForm">
					<div class="mb-3">
						<label for="name" class="form-label">Имя:</label>
						<input type="text" class="form-control" id="name" name="Name" autocomplete="name" required>
						<div id="nameError" class="error-message"></div>
					</div>

					<div class="mb-3">
						<label for="dateOfBirth" class="form-label">Дата рождения:</label>
						<input type="date" class="form-control" id="dateOfBirth" name="DateOfBirth" autocomplete="dateOfBirth" required>
						<div id="dateOfBirthError" class="error-message"></div>
					</div>

					<div class="mb-3">
						<label for="contactPhoneNumber" class="form-label">Контактный телефон:</label>
						<input type="tel" class="form-control" id="contactPhoneNumber" name="ContactPhoneNumber" autocomplete="contactPhoneNumber" required>
						<div id="contactPhoneNumberError" class="error-message"></div>
					</div>

					<div class="mb-3">
						<label for="emailAddress" class="form-label">Email:</label>
						<input type="email" class="form-control" id="emailAddress" name="EmailAddress" autocomplete="emailAddress" required>
						<div id="emailAddressError" class="error-message"></div>
					</div>

					<div class="mb-3">
						<label for="gender" class="form-label">Пол:</label>
						<select class="form-select" id="gender" name="Gender" required>
							<option value="">Выберите пол</option>
							<option value="M">Мужской</option>
							<option value="F">Женский</option>
						</select>
						<div id="genderError" class="error-message"></div>
					</div>

					<div class="mb-3">
						<label for="login" class="form-label">Логин:</label>
						<input type="text" class="form-control" id="login" name="login" autocomplete="login" required>
						<div id="loginError" class="error-message"></div>
					</div>

					<div class="mb-3">
						<label for="password" class="form-label">Пароль:</label>
						<input type="password" class="form-control" id="password" name="password" autocomplete="new-password" required>
						<div id="passwordError" class="error-message"></div>
					</div>

					<div id="successMessage" class="mt-3 alert alert-success" style="display:none;"></div>
					<div id="errorMessage" class="mt-3 alert alert-danger" style="display:none;"></div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
				<button type="submit" form="registrationForm" class="btn btn-primary">Зарегистрироваться</button>
			</div>
		</div>
	</div>
</div>

@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf


<script>
			$(document).ready(function() {
		$('#loginFormClient').on('submit', function(event) {
			event.preventDefault(); // Предотвращаем стандартную отправку формы

			var formData = $(this).serialize(); // Собираем данные формы

			$.ajax({
				url: 'http://localhost:5067/Client/login', // Адрес контроллера и метода для авторизации
				method: 'POST',
				dataType: 'json',
				contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
				data: formData,
				success: function(response) {
				if (response.success) {
					if (response.token) {
						sessionStorage.setItem('authToken', response.token);
					}

					$('#loginSuccessMessage').text(response.message).show();
					$('#loginModal').modal('hide'); // Закрываем модальное окно

					@RedirectToPage("/Timetable");
				} else {
					$('#loginErrorMessage').text(response.message).show();
				}
			},
				error: function(jqXHR, textStatus, errorThrown) {
				console.error(`Ошибка AJAX: ${jqXHR.statusText}`);
				$("#errorMessage").text("Что-то пошло не так. Попробуйте снова позже.").show();
			}
			});
		});
	});
	</script> 







@functions {

	public string? GetTocen()
	{
		return Xsrf.GetAndStoreTokens(Model.HttpContext).RequestToken;
	}
}


