@page
@using gym_project_business_logic.Model
@model GymProjectClient.Pages.CoachWorkDataModel
@{
}

<div>

        <h3>@Model.Coach.FullName Welicome</h3>
        <p><strong>Специализация:</strong> @Model.Coach.Specialization</p>
        @foreach(Gym gym in Model.Gyms)
        {
        <p>@gym.Id зал - @gym.Name </p>
        }

</div>