@page
@using gym_project_business_logic.Model
@model GymProjectClient.Pages.CoachWorkDataModel
@{
}

<div>

        <h3>Информация о тренере:</h3>
        <p><strong>ID:</strong> @Model.Coach.Id</p>
        <p><strong>Имя:</strong> @Model.Coach.FullName</p>
        <p><strong>Специализация:</strong> @Model.Coach.Specialization</p>

</div>